.box-main {
    height: 560px;
    width: 500px;
    background: url(sources/pinta.jpg);
    background-size:115%;
    padding: 15px;
    margin: 0px;
    border: 10px;
    border-style: solid;
    border-color: yellow;   
    background-position-x: 90px;
    background-position-y: 0px;
    position: absolute;
    left: 25em;
    border-radius: 3%;
}

body{
    background-color:black;
    background-image: url(sources/bar-fondo.jpg);
    background-size: 100%;
    font-family: 'Kiwi Maru', serif;
    font-size: 15px;
}

footer{
    position:absolute;
    bottom: 0;
}

path{
    fill: #F7B532 !important;
}

.iglogo{
    position:absolute;
    top:27.8rem;
}

.fblogo{
    position: absolute;
    top:24.5rem;
}

.follow{
    position:absolute;
    left:4em;
}

h1,h3{
 color: #F7B532; 
}

p,li {
    color: khaki;
}

address{
    color: orange;
}

.pedidoindex{
    position:absolute;
    bottom: 200px;
}

h1{
    font-family: 'Chango', cursive;
    font-size: 3em;
    text-align: center;
    position:relative;
    bottom: 30px;
}

.list-comid{
    position:absolute;
    top: 70px;
    
}

.list-cerve{
    position:absolute;
    top: 70px;
}

.list-cerve__item{
    position:relative;
    top:0px;
}

.list-cocte{
    position:relative;
    top: -102px;
    left: 180px;
}

.index-link{
    position:relative;
    top: 50px;
}

a{
    color: orangered;
}

.index-nav{
    position:relative;
    bottom: 1.5rem;
}

.index-link{
    font-family: 'Chango' , cursive;
    font-size: 1.5rem;
    position:relative;
    top: 9px;
    border: 2px;
    border-style:solid;
    border-color: #F7B532;
    border-radius: 25%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: inline-block;
}

h3{
    font-size: 28px;
}