

body{
    background-color: black;
    font-family: 'Kiwi Maru', serif;
    background-image: url(sources/bar-fondo.jpg);
    background-size: 100%;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box-main{
border-style: solid;
border-radius: 1em;
border-color: orange;
background-color: #1c1c1c;
display: flex;
flex-direction: column;
justify-content: space-around;
min-width: 350px;
max-width: 700px;
min-height: 640px;
max-height: 780px;
}
.grid-container{
    display: grid;
    grid-template-columns: 50px 250px;
    grid-template-rows: 70px 70px;
}

.grid-item{
    display: flex;
   align-items: center;
   justify-content: center;
   padding: .7em;
}

.grid-item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid-item:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/3;
}
.grid-item:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/2;
}
.grid-item:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/3;
} 
 path{ /*Establece el color para el patron */
    fill: #F7B532 !important;
}
h1{
    font-family: 'playball' ,cursive;
    font-size: 3em;
}
h2{
    font-size: 1.3em;
}
h1,h2{
    color: #F7B532; 
   }
p,li {
    color: khaki;
}
h1,h2,p,a,address{
    padding-left: .6em;
    padding-right: .6em;
}
a{
    color: orangered;
}
address{
    font-size: .82em;
    align-items: right;
    color: orange;
}

@media screen and (max-width: 370px) {
    h1,h2,p,a,address{
        padding-left: .6em;
    }
    body{
        background-size:100%;
        background-repeat:space;
    }
}
@media screen and(min-width: 600px) {
    body{
        background-size: 200%;
        background-repeat:no-repeat;
    }
}